@keyframes fade-up
  0%
    opacity: 0
    transform: translateY(-20%)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1


@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0