@font-face
  font-family: 'Lato'
  +font('Lato-Regular')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Lato'
  +font('Lato-Light')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Lato'
  +font('Lato-Bold')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Lato'
  +font('Lato-BoldItalic')
  font-weight: bold
  font-style: italic