.block-about
  &__text
    font-size: 14px
    line-height: 1.2
    margin-bottom: 15px
    color: #000
  &__group
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0
  &__share
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    &-item
      font-size: 18px
      .icon
        margin-right: 7px
  img
    max-width: 100%
    max-height: 100%
    display: inline-block
    vertical-align: top
    width: 100%

.block-filter
  &__title
    font-size: 18px
    font-weight: bold
    color: $style-color
    margin-bottom: 15px
  &__group
    margin-bottom: 55px
    &:last-child
      margin-bottom: 0
  &__list
    list-style: none
    padding-left: 15px
  &__item
    margin-bottom: 10px
    font-size: 16px
    &:last-child
      margin-bottom: 0
  &__link
    color: $style-color

.swipe-button
  border: 1px solid #ffffff
  border-bottom: 0
  position: fixed
  top: 50%
  z-index: 9999
  left: 0
  transform: rotate(90deg) translateX(-50%)
  background: $style-color
  cursor: pointer
  font-size: 12px
  color: #fff
  text-transform: uppercase
  font-weight: bold
  padding: 10px 20px
  transform-origin: left bottom
  border-radius: 5px 5px 0 0

.swipe-sidebar
  padding: 25px 15px

.icon-vk
  fill: #44678d !important

.icon-tw
  fill: #50abf1 !important

.icon-fb
  fill: #3a559f !important

.icon-gplus
  fill: #dd4b39 !important
