html
  +selection
    background: $style-color
    color: #fff

time
  opacity: .6

.link
  &:hover
    text-decoration: underline

.u-link
  > span
    border-bottom: 1px solid rgba(#000, .3)

.h1, .h2, .h3
  font-weight: bold

.h1
  font-size: +em(36, $font-size)

.h2
  font-size: +em(24, $font-size)

.page-title
  color: $style-color
  margin-bottom: 25px
  .icon
    font-size: .7em
    fill: $style-color
  +r($xxs)
    margin-bottom: 15px

.text
  font-size: 18px
  +r($sm)
    font-size: 16px
  +r($xxs)
    font-size: 14px
  img
    max-width: 100%
    max-height: 100%
    margin-bottom: 15px
    +r($sm)
      margin-bottom: 10px
    &.left
      float: left
      margin-right: 15px
    &.right
      margin-left: 15px
      float: right
  p
    margin-bottom: 25px
    line-height: 1.4
    &:last-child
      margin-bottom: 0
    +r($xxs)
      margin-bottom: 15px