
=image($image)
  background-image: img-url($image)

=trans($what: all, $dur: 0.2s, $easing: ease)
  transition: $what $dur $easing

=img-cover
  html:not(.object-fit) &
    position: absolute
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%
  .object-fit &
    width: 100%
    height: 100%
    object-fit: cover

=smooth-scroll
  -webkit-overflow-scrolling: touch

=smooth-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=gpu
  transform: translate3d(0,0,0)


.svg-sprite
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  white-space: nowrap

.ws-nowrap
  white-space: nowrap
.relative
  position: relative
.visible-md
  display: none !important
  +r($md)
    display: block !important

.text-right
  text-align: right
.text-center
  text-align: center !important

.bold
  font-weight: bold
.p-0
  padding: 0 !important
.pb-0
  padding-bottom: 0 !important
.pt-0
  padding-top: 0 !important
.mb-0
  margin-bottom: 0 !important
.hidden
  display: none !important

.perspective
  perspective: 1500px

.inline-block
  display: inline-block

.vertical-top
  vertical-align: top !important

.vertical-bottom
  vertical-align: bottom !important

.vertical-middle
  vertical-align: middle !important


%table
  display: table
  width: 100%
  > *
    display: table-cell
    vertical-align: middle