.p-article
  &__title
    margin-bottom: 15px
    .icon
      font-size: .7em
      fill: $style-color
  &__head
    margin-bottom: 45px
    +r($sm)
      margin-bottom: 25px
  &__meta
    display: flex
    flex-wrap: wrap
    align-items: center
    font-size: 16px
    +r($sm)
      font-size: 14px
    +r($xxs)
      justify-content: space-between
  &__info, .text img
    max-width: 265px
    width: 100%
    +r($xxs)
      width: auto
      max-width: 100%
  &__info
    color: #000
    padding-right: 10px
  &__author
    color: $style-color
  &__actions
    display: flex
    a
      color: #000
      +r($xxs)
        font-size: 0
    .icon
      margin-right: 7px
      +r($xxs)
        font-size: 14px
  &__footer
    margin-top: 30px
    &-title
      color: #000
      font-size: 18px
      font-weight: bold
      margin-bottom: 8px
      +r($xxs)
        font-size: 16px
        margin-bottom: 5px
    &-group
      margin-bottom: 16px
      &:last-child
        margin-bottom: 0
    .breadcrumbs
      margin-bottom: 0
  &__share
    margin-top: 35px
    display: flex
    margin-bottom: -8px
    align-items: center
    +r($xxs)
      margin-top: 20px
    &-label
      font-size: 18px
      color: #000
      font-weight: bold
      +r($xxs)
        font-size: 16px
    > *
      margin-right: 8px
      margin-bottom: 8px
    a
      font-size: 32px
      +r($xxs)
        font-size: 26px
  &__sources
    $fs: $font-size
    list-style: none
    &.is-active
      display: block !important
    a
      color: #000
    time
      color: #000
      display: inline-block
      margin-left: 5px
      > span
        display: inline-block
        vertical-align: middle
        position: relative
        top: +em(2, $font-size)
    > li
      padding-left: +em(25, $fs)
      position: relative
      line-height: 1.4
      color: #000
      &:before
        @extend %ticon
        content: $ticon-right-arrow
        font-size: +em(15, $fs)
        color: #353536
        position: absolute
        left: 0
        top: +em(3, 15)
  &__links
    margin-top: 25px
    +r($xxs)
      margin-top: 15px
    &-trigger
      font-size: 16px
      font-weight: bold
      display: inline-block
      margin-bottom: 10px
      +r($xxs)
        font-size: 14px
      > span
        color: $style-color
        text-decoration: underline
