.p-home
  &__news
    margin-top: 90px
    +r($sm)
      margin-top: 50px
      &.row
        margin-bottom: -40px
      [class^="col-"]
        padding-bottom: 40px
  .news
    max-width: 295px
    +r($sm)
      max-width: 100%
    &__item
      +r($sm)
        display: none
        &:first-child, &:nth-child(2)
          display: block
        &:nth-child(2)
          margin-bottom: 0