.articles-list


.article
  $fs: 14
  overflow: hidden
  position: relative
  display: block
  &:hover &__photo
    transform: scale(1.1)
  &:hover &__info
    background: rgba(#000, .35)
  &--lg &__info
    +rmin($sm)
      min-height: 330px
      align-content: flex-end
      padding: 20px 30px
      font-size: 16px
  &--lg:hover &__photo
    +rmin($sm)
      transform: scale(1.05)
  &__photo
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: all ease .5s
    z-index: 1
  &__img
    +img-cover
  &__info
    position: relative
    z-index: 2
    display: flex
    flex-wrap: wrap
    align-content: flex-start
    min-height: 290px
    background: rgba(#000, .5)
    color: #fff
    padding: 15px
    font-size: #{$fs}px
    transition: all ease .3s
    +r($sm)
      font-size: 16px
      padding: 20px 30px
    +r($xxs)
      font-size: 14px
      padding: 15px
      min-height: 230px
  &__date, &__desc
    font-size: 1em
  &__date
    margin-bottom: +em(15, $fs)
    opacity: 1
    display: block
  &__title
    font-size: +em(20, $fs)
    font-weight: bold
    line-height: 1.3
  &__desc
    line-height: 1.2
    margin-top: +em(15, $fs)