.breadcrumbs
  $fs: 14
  &__list
    //display: flex
    //flex-wrap: wrap
    //align-items: center
    //margin: 0 -5px -5px
    margin-bottom: -5px
    line-height: 1.8
  &__item
    //padding: 0 5px 5px
    display: inline
    padding-right: 5px
    position: relative
    font-size: #{$fs}px
    line-height: 1.4
    +r($xxs)
      font-size: 12px
    &:last-child:after
      display: none
    &:after
      @extend %ticon
      content: $ticon-right-arrow
      color: #353536
      font-size: 15px
      margin-left: 7px
      display: inline
      vertical-align: middle
  &__item.dropdown &__link
    //padding-right: +em(12, $fs)
  &__link
    color: #010101
    font-size: 1em
    line-height: 1.4
    > span
      border-bottom: 1px solid rgba(#000, .3)
  &__toggle
    color: #494a4a
    font-size: +em(12, $fs)
    position: relative
    top: +em(3, 12)
    left: +em(1, 12)
    &:before
      @extend %ticon
      content: $ticon-down-chevron
  &__drop
    max-width: 300px
    .dropdown-menu__link
      white-space: normal