.category-menu
  &__list
    list-style: none
    display: inline-flex
    flex-wrap: wrap
    margin: 0 -5px
    width: 100%
  &__item
    flex-grow: 0
    max-width: 215px
    width: 100%
    padding: 0 5px
    font-size: 16px
    position: relative
    &--projects .dropdown-menu .dropdown-menu
      background: $style-color2
      top: 100% !important
      left: 0 !important
      margin-top: 5px !important
      margin-left: 0 !important
      width: 100%
      a
        color: $style-color
    +r($lg)
      font-size: 14px
      max-width: 190px
    +r($md)
      font-size: 12px
      max-width: 147px
  &__item--projects &__link
    background: rgba($style-color, .5)
    color: rgba(#fff, .7)
  &__item--disabled &__toggle
    opacity: .7
  &__item.dropdown &__link
    padding: 0 26px
    +r($md)
      padding: 0
      padding-right: 25px
      padding-left: 10px
  &__item.is-active &__link
    background: #e4efff
    color: $style-color
  &__item.is-active &__toggle
    color: rgba(#3f4246, .3)
  &__toggle
    height: 100%
    width: 26px
    text-align: center
    color: rgba(#fff, .3)
    font-size: 13px
    top: 0
    position: absolute
    right: 5px
    line-height: 50px
    transition: all ease .3s
    border-top-right-radius: 5px
    &:hover, .dropdown-open &
      background: #59568f
      color: #fff !important
    +r($md)
      font-size: 10px
      width: 25px
    &:before
      @extend %ticon
      content: $ticon-down-chevron
      vertical-align: middle
  &__link
    position: relative
    background: $style-color
    color: #ffffff
    text-align: center
    display: flex
    height: 50px
    align-items: center
    justify-content: center
    border-radius: 5px 5px 0 0
    line-height: 1.2
    padding: 0 10px
  .dropdown-menu
    padding: 15px 0
    min-width: calc(100% - 5px)
    left: 5px
    z-index: 9
    margin-top: 5px
    &__item
      padding: 0 15px
    &__link
      font-size: +em(14)
    .dropdown-menu
      left: 100%
      margin-left: 5px
      top: 0
      margin-top: -5px
      .dropdown-menu
        background: $style-color2
        top: 100%
        left: 0
        margin-top: 5px
        margin-left: 0
        width: 100%
        a
          color: $style-color
      &__item
        position: relative
        &.dropdown
          padding-right: 1.6em
      &__toggle
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        height: 100%
        width: 1.5em
        color: #fff
        font-size: .7em
        &:before
          @extend %ticon
          content: $ticon-right-chevron
          +vcenter