.checkbox
  $fs: 14
  cursor: pointer
  display: inline-flex
  color: #000
  font-size: #{$fs}px
  margin: 0 -7px
  a
    text-decoration: underline
    color: #1d1d1d
  input
    display: none
    &:checked + * i
      &:before, &:after
        opacity: 1
  &__i
    flex-grow: 0
  &__text
    padding-top: +em(2, $fs)
    line-height: 1.2
  i
    background: #fff
    display: inline-block
    font-style: normal
    height: +em(17, $fs)
    margin: 0 7px
    position: relative
    vertical-align: middle
    width: +em(17, $fs)
    border: 1px solid $style-color
    border-radius: 2px
    transition: all ease .2s
    &:before, &:after
      background-color: $style-color
      position: absolute
      transition: opacity ease-out 0.2s
      opacity: 0
      content: ""
      display: block
      width: 2px
    &:before
      height: +em(10, $fs)
      left: +em(8, $fs)
      top: +em(3, $fs)
      transform: rotate(45deg)
    &:after
      height: +em(5, $fs)
      left: +em(3, $fs)
      top: +em(7, $fs)
      transform: rotate(-45deg)