.dropdown-menu
  animation: fade-up .3s
  min-width: 200px
  border-radius: 5px
  padding: 10px
  position: absolute
  z-index: 9
  top: 100%
  left: 0
  display: none
  background: $style-color
  +r($xxs)
    min-width: 150px
  &__link
    color: #fff
    white-space: nowrap
  &__item
    margin-bottom: 10px
    color: #fff
    &:last-child
      margin-bottom: 0
  &__sub
    padding-top: 5px
  &__sub &__item
    margin-bottom: 5px
    &:before
      content: '\2014'