.hamburger
  @mixin sizing($size, $padding, $thickness, $space)
    width: #{$size}px
    height: #{$size}px
    span
      top: #{($size / 2) - ($thickness / 2)}px
      left: #{$padding}px
      right: #{$padding}px
      height: #{$thickness}px
      &:before, &:after
        height: #{$thickness}px
      &:before
        top: -#{$thickness + $space}px
      &:after
        bottom: -#{$thickness + $space}px
  display: inline-block
  vertical-align: middle
  position: relative
  overflow: hidden
  margin: 0
  padding: 0
  font-size: 0
  text-indent: -9999px
  appearance: none
  box-shadow: none
  border: none
  cursor: pointer
  transition: background 0.3s
  +sizing(23, 0, 2, 5)
  &:focus
    outline: none
  &:hover, &.is-active
    //background: $style-color2
    span, span:before, span:after
      background: $style-color2
  span
    $color: #fff
    display: block
    position: absolute
    background: $color
    transition-timing-function: ease
    transition-duration: .15s
    transition-property: transform
    &:before, &:after
      position: absolute
      display: block
      left: 0
      width: 100%
      background-color: $color
      content: ""
  &--htx
    //background-color: #ff3264
    span
      //transition: background 0s 0.3s
      &:before, &:after
        transition-duration: 0.3s, 0.3s
        transition-delay: 0.3s, 0s
      &:before
        transition-property: top, transform
      &:after
        transition-property: bottom, transform
    &.is-active
      //background-color: #cb0032
      span
        background: none
        &::before
          top: 0
          transform: rotate(45deg)
        &:after
          bottom: 0
          transform: rotate(-45deg)
        &:before, &:after
          transition-delay: 0s, 0.3s
  &--spin
    span
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
      &:before
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in
      &:after
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19)
    &.is-active
      span
        transform: rotate(225deg)
        transition-delay: 0.12s
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
        &:before
          top: 0
          opacity: 0
          transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out
        &:after
          bottom: 0
          transform: rotate(-90deg)
          transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1)