.lang-switcher
  padding: 10px 20px
  background: $style-color
  border-radius: 5px
  position: relative
  padding-right: 10px
  &:hover
    border-bottom-right-radius: 0
    border-bottom-left-radius: 0
  &:hover &__list
    display: block
  &__item
    display: flex
    flex-wrap: nowrap
    color: #ffffff
    font-size: 16px
    align-items: center
    transition: all ease .3s
    .icon
      margin-right: 15px
      top: 1px
  &__list
    background: $style-color
    position: absolute
    top: 100%
    left: 0
    min-width: 100%
    white-space: nowrap
    list-style: none
    display: none
    animation: fade-up .3s
    border-radius: 0 0 5px 5px
  &__list &__item
    padding: 10px 20px
    padding-right: 10px