.last-news
  &__item
    font-size: 16px
    margin-bottom: 25px
    +r($xxs)
      font-size: 14px
    &:last-child
      margin-bottom: 0
  &__date
    color: #232323
    margin-bottom: 10px
    display: block
  &__title
    color: #000
    line-height: 1.2
    display: block
  &__more
    padding-top: 35px
    text-align: center