.logo
  $fs: 60
  display: inline-flex
  align-items: center
  flex-wrap: wrap
  font-size: #{$fs}px
  +r($sm)
    font-size: 50px
  +r($xxs)
    font-size: 40px
  &__img
    display: inline-block
    vertical-align: top
    max-width: +em(100, $fs)
  &__name
    text-transform: uppercase
    font-size: 1em
    font-weight: 300
    color: $style-color
    margin-left: 10px
  &__slogan
    margin-left: 10px
    font-size: +em(14, $fs)
    color: $style-color
    text-transform: uppercase
    line-height: 1.2