.news
  width: 100%
  &__category
    font-size: 24px
    font-weight: bold
    min-height: 60px
    border-bottom: 1px solid $style-color
    color: $style-color
    margin-bottom: 30px
    padding-bottom: 10px
    +r($sm)
      min-height: auto
      margin-bottom: 20px
      font-size: 22px
    +r($xxs)
      font-size: 20px
  &__item
    $fs: 16
    margin-bottom: 45px
    color: #000
    font-size: #{$fs}px
    +r($sm)
      margin-bottom: 30px
    +r($xxs)
      font-size: 14px
    &:last-child
      margin-bottom: 0
    &--lg &-info
      justify-content: flex-start
    &-info
      display: flex
      align-items: center
      flex-wrap: wrap
      justify-content: space-between
      margin-bottom: +em(10, $fs)
      > *
        margin-bottom: +em(5, $fs)
      +r($sm)
        justify-content: flex-start
    &-date
      margin-right: 15px
    &-category
      color: rgba($style-color, .7)
      font-weight: bold
      font-style: italic
    &-section
      color: rgba(#000, .7)
      font-size: 1em
      font-weight: bold
    &-title
      font-size: +em(20, $fs)
      font-weight: bold
      color: #000
      line-height: 1.3
      display: block
    &-desc
      margin-top: +em(15, $fs)
      line-height: 1.2
  &__more
    text-align: right
    margin-top: 25px
    +r($sm)
      text-align: left
    +r($xxs)
      margin-top: 20px
    a
      text-decoration: underline
      color: $style-color
      font-size: 16px
      font-weight: bold
      font-style: italic
      +r($xxs)
        font-size: 14px