.pagination
  text-align: center
  &__list
    list-style: none
    display: flex
    flex-wrap: wrap
    margin: 0 -5px -10px
    align-items: center
    justify-content: center
  &__item
    padding: 0 5px 10px
    font-size: 16px
  &__active
    color: #000
    font-weight: bold
  &__link, &__empty
    color: rgba(#000, .5)
  &__link, &__prev, &__next
    transition: color ease .3s
    &:hover
      color: $style-color
  &__empty
    &:before
      content: '...'
  &__prev, &__next
    font-size: .7em
    color: #444445
    &:before
      @extend %ticon
  &__prev
    margin-right: 10px
    &:before
      content: $ticon-left-chevron
  &__next
    margin-left: 10px
    &:before
      content: $ticon-right-chevron
