.reports-list
  margin-bottom: -45px
  +r($sm)
    margin-bottom: -30px
  &__item
    padding-bottom: 45px
    +r($sm)
      padding-bottom: 30px

.report
  &__inn
    display: flex
    flex-flow: row
    +r($xxs)
      flex-flow: column
  &__photo
    flex: 1 0 165px
    width: 165px
    height: 260px
    position: relative
    +r($xxs)
      width: 100%
      margin-bottom: 15px
      height: 200px
  &__img
    +img-cover
  &__info
    padding-left: 10px
    font-size: 18px
    color: #000
    +r($sm)
      font-size: 16px
    +r($xxs)
      padding-left: 0
  &__year
    display: block
  &__year, &__title
    font-weight: bold
    margin-bottom: 15px
    +r($sm)
      margin-bottom: 10px
  &__title
    line-height: 1.4
  &__desc
    line-height: 1.4