.search
  position: relative
  &--lg &__input
    line-height: 30px
    height: 30px
    font-size: 12px
  &--lg &__submit
    width: 30px
    height: 30px
    line-height: 30px
    background: $style-color
    right: 0
    .icon
      fill: #fff
  &__input
    display: inline-block
    width: 100%
    background-color: transparent
    border: 1px solid $style-color
    font-size: 10px
    color: #000
    line-height: 25px
    padding-left: 9px
    padding-right: 30px
    height: 25px
    +placeholder
      opacity: .5
  &__submit
    border: 0
    background-color: transparent
    position: absolute
    right: 9px
    top: 50%
    transform: translateY(-50%)
    font-size: 13px
    line-height: 0
    height: 1.1em
    .icon
      fill: #585c62
  &__options
    margin-top: 10px