.footer
  background: $style-color
  padding: 65px 0
  +r($md)
    padding: 40px 0
  &, a
    color: #ffffff
  &__inn
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: -20px
    > *
      padding-bottom: 20px
  &__nav
    display: flex
    flex-wrap: nowrap
    padding-right: 65px
    +r($xs)
      padding-right: 0
      width: 100%
      justify-content: space-between
  &__menu
    margin-right: 20px
    &:last-child
      margin-right: 0
    &-title
      font-weight: bold
      font-size: 18px
      min-height: 50px
      +r($sm)
        min-height: 40px
    &-list
      list-style: none
    &-item
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
    &-link
      font-size: 14px
  &__text
    line-height: 1.4
    margin-bottom: 15px
  &__share
    margin: 25px 0
    max-width: 195px
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    +r($xxs)
      margin: 15px 0
    &-item
      font-size: 16px
      .icon
        fill: #fff
        margin-right: 8px
  &__counters
    list-style: none
    display: flex
    flex-wrap: wrap
    align-items: center
    margin: 0 -5px -10px
    &-item
      padding: 0 5px 10px
  &__link
    text-decoration: underline
    font-size: 14px
  &__about
    margin-top: 15px
    font-size: 10px
    line-height: 1.4
    +r($xs)

  &__info
    max-width: 295px
    width: 100%
    +r($xxs)
      max-width: 100%
  &__contacts
    max-width: 195px
    width: 100%
    +r($xs)
      max-width: 100%