.header
  background: $style-color2
  &__mlangs
    background: darken($style-color2, 5)
    padding: 10px 0
    color: #000
    text-align: right
    display: none
    +r($md)
      display: block
    a
      display: inline-block
      color: $style-color
      margin: 0 5px
      .icon
        margin-right: 5px
        margin-top: -3px
  &__top
    display: flex
    align-items: center
    justify-content: space-between
    padding: 35px 0
    position: relative
    +r($md)
      padding-top: 20px
    +r($sm)
      padding-bottom: 20px
    .search
      position: absolute
      right: 0
      width: 100%
      max-width: 250px
      top: 100px
      +r($md)
        top: 85px
      +r($sm)
        display: none
  &__logo
    +rcomplex(((min: $sm, max: $lg), ()))
      width: 280px
      .logo
        margin-bottom: -3em
        &__slogan
          font-size: 12px
          width: 100%
          padding-left: 110px
          margin: -10px 0 0
          br
            display: none
  &__nav
    padding: 0 15px
    +r($sm)
      display: none
    &-list
      list-style: none
      display: flex
      flex-wrap: wrap
      margin: 0 -15px -10px
      align-items: center
    &-item
      padding: 0 15px 10px
    &-link
      color: $style-color
      font-size: 16px
  &__socials
    font-size: 24px
    list-style: none
    display: flex
    align-items: center
    flex-wrap: wrap
    margin: 0 -10px
    &-item
      padding: 0 10px
    &-link
      display: block
      line-height: 0
      .icon
        fill: $style-color !important
  &__tools
    display: flex
    flex-wrap: nowrap
    +r($md)
      display: none
  &__lang
    width: 125px
    margin-left: 15px
  &__bottom
    +r($sm)
      display: none
  &__mnav
    background: $style-color
    position: relative
    display: none
    +r($sm)
      display: block
    &-inn
      display: flex
      justify-content: space-between
      height: 45px
      align-items: center
    .hamburger
      margin-right: 5px
    .search
      display: none
      background: #fff
      position: absolute
      top: 0
      left: 0
      width: 100%
      animation: fade-up .3s
      z-index: 99
      &.is-active
        display: block
      &__input
        height: 45px
        line-height: 45px
        font-size: 14px
    a
      color: #fff
      font-size: 14px
      .icon
        fill: #fff
