.l-main
  background: $bg-color
  +slideout-open
    position: relative
    z-index: 101
    &:before
      z-index: 9999
      width: 100%
      height: 100%
      content: ''
      display: block
      left: 0
      top: 0
      position: absolute
      background: rgba(#000, .85)
      animation: fadeIn .3s forwards
  .slideout-closing &
    &:before
      animation: fadeOut .3s forwards

.l-content
  padding: 30px 0 45px
  +r($xxs)
    padding-bottom: 30px
  .breadcrumbs
    margin-bottom: 30px
  .pagination
    margin-top: 45px
    +r($xxs)
      margin-top: 30px

.l-wrapper
  max-width: #{$layout-width + ($layout-padding * 2)}px
  margin: 0 auto
  padding: 0 #{$layout-padding}px

.l-columns
  margin: 0 -5px -10px
  > [class^="col-"]
    padding: 0 5px 10px