.mnav
  position: relative
  &__close
    $size: 30
    position: absolute
    top: 0
    left: 0
    width: #{$size}px
    height: #{$size}px
    line-height: #{$size - 1}px
    text-align: center
    background: #59568f
    font-size: 12px
    color: #fff
    &:before
      @extend %ticon
      content: $ticon-close
      display: inline-block
      vertical-align: middle
  &__logo
    text-align: center
    padding: 20px 10px
    background: $style-color2
  &__menu
    $link-height: 50px
    & > &-item
      border-bottom: 1px solid $style-color
      position: relative
    & &
      display: none
      background: $style-color2
      border-top: 3px solid $style-color
    & & &-item
      border-bottom-color: darken($style-color2, 15)
      &:last-child
        border-bottom: 0
    & & &-toggle
      background: darken($style-color2, 5)
    & & &
      background: #ffe3ba
      border-top: 3px solid darken(#ffe3ba, 20)
    & & & &-item
      border-bottom-color: darken(#ffe3ba, 15)
      &:last-child
        border-bottom: 0
    & & & &-toggle
      background: darken(#ffe3ba, 10)
    &-sub
      background: #f6f6f6
      padding: 10px 15px
      display: none
    &-sub &-link
      font-weight: normal
    &-sub &-item
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
    & > &-item > &-link
      display: block
      padding: 0 10px
      height: $link-height
      line-height: $link-height
      padding-right: #{$link-height + 5}
    &-link
      text-transform: uppercase
      font-size: 14px
      color: $style-color
      font-weight: bold
      > span
        line-height: 1.4
        vertical-align: middle
        display: inline-block
    &-toggle
      position: absolute
      right: 0
      top: 0
      height: $link-height
      width: $link-height
      line-height: $link-height
      font-size: 12px
      color: $style-color
      background: #f5f5f5
      text-align: center
      .dropdown-open > &:before
        transform: rotate(180deg)
      &:before
        @extend %ticon
        content: $ticon-down-chevron
        display: inline-block
        vertical-align: middle
        transition: all ease .3s
  &__main-menu
    //padding-top: 20px
    background: #ccc
  &__main-menu &__menu-item
    border-bottom: 1px solid $style-color2
  &__main-menu &__menu-link
    color: #fff
    background: $style-color