.sidebar
  background: #e4efff
  //background: $style-color2
  padding: 35px 20px
  &__title
    text-align: center
    font-size: 18px
    font-weight: bold
    color: $style-color
    margin-bottom: 40px
    +r($xxs)
      font-size: 16px
      margin-bottom: 30px
  &__link
    text-decoration: underline
    font-size: 18px
    color: $style-color
    +r($xxs)
      font-size: 16px