@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont/iconfont.eot?20960128');
  src: url('../fonts/iconfont/iconfont.eot?20960128#iefix') format('eot'),
    url('../fonts/iconfont/iconfont.woff2?20960128') format('woff2'),
    url('../fonts/iconfont/iconfont.woff?20960128') format('woff'),
    url('../fonts/iconfont/iconfont.ttf?20960128') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$ticon-clock: "\EA01";
$ticon-close: "\EA02";
$ticon-down-chevron: "\EA03";
$ticon-envelope: "\EA04";
$ticon-fb: "\EA05";
$ticon-gplus: "\EA06";
$ticon-info: "\EA07";
$ticon-left-chevron: "\EA08";
$ticon-printer: "\EA09";
$ticon-right-arrow: "\EA0A";
$ticon-right-chevron: "\EA0B";
$ticon-rss: "\EA0C";
$ticon-ru: "\EA0D";
$ticon-search-bold: "\EA0E";
$ticon-search: "\EA0F";
$ticon-tw: "\EA10";
$ticon-uk: "\EA11";
$ticon-vk: "\EA12";


%ticon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ticon {
  @extend %ticon;
  display: inline-block;
  vertical-align: middle;
}

.ticon-clock:before { content: $ticon-clock; }
.ticon-close:before { content: $ticon-close; }
.ticon-down-chevron:before { content: $ticon-down-chevron; }
.ticon-envelope:before { content: $ticon-envelope; }
.ticon-fb:before { content: $ticon-fb; }
.ticon-gplus:before { content: $ticon-gplus; }
.ticon-info:before { content: $ticon-info; }
.ticon-left-chevron:before { content: $ticon-left-chevron; }
.ticon-printer:before { content: $ticon-printer; }
.ticon-right-arrow:before { content: $ticon-right-arrow; }
.ticon-right-chevron:before { content: $ticon-right-chevron; }
.ticon-rss:before { content: $ticon-rss; }
.ticon-ru:before { content: $ticon-ru; }
.ticon-search-bold:before { content: $ticon-search-bold; }
.ticon-search:before { content: $ticon-search; }
.ticon-tw:before { content: $ticon-tw; }
.ticon-uk:before { content: $ticon-uk; }
.ticon-vk:before { content: $ticon-vk; }
