.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transition: all ease .3s;
}

.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-down-chevron {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-envelope {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gplus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-info {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-left-chevron {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-printer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-right-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-right-chevron {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-rss {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ru {
  width: 1em;
  height: 1em;
  fill: #f5f5f5;
}
.icon-search-bold {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-uk {
  width: 1em;
  height: 1em;
  fill: #41479b;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
